**/hubblecast.m4v
**/*.mov
**/*.m4a
**/*.mp4

# After Specific Stuff
#

*.playground

# Xcode
#
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
Pods/

# Carthage
#
# We recommend adding Carthage/ to your .gitignore file, since the files in the Carthage directory are the equivalent of build artifacts
#
Carthage/

# Story Branch (gem to enhance git with story related commands)
.story_branch
